* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


/* =====================================================================================
========================================================================================
======================================================================== */


/* ================================================================================== */
.background-wrap {
  z-index: -1000;

  overflow: hidden;

}
.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  margin-top: -550px;
}

section{
  width: 100%;
  height: 90vh;
  background-image:linear-gradient(rgba(20,0,255,0.8),rgba(255,0,173,0.7)),url(../../assets/img.jpeg);
  background-size: cover;
  background-attachment:scroll;
}



section .wave{
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url(../../assets/wave.png);
  animation: animate 10s linear infinite;
}

section .wave:before{
  content: '';
  width: 100%;
  height: 143px;
  background: url(../../assets/wave.png);
  position: absolute;
  top:0;
  left: 0;
  opacity: 0.4;
  animation: animate-reverse 10s linear infinite;
}
section .wave:after{
  content: '';
  width: 100%;
  height: 143px;
  background: url(../../assets/wave.png);
  position: absolute;
  top:0;
  left: 0;
  opacity: 0.4;
  animation-delay: -5s;
  animation: animate 20s linear infinite;
}
@keyframes animate
{
  0%{
    background-position: 0;
  }
  100%{
    background-position: 1360px;
  }
}

@keyframes animate-reverse
{
  0%{
    background-position: 1360px;
  }
  100%{
    background-position: 0;
  }
}

/* ========================================================
===========================================================================
============================================================================= */

 h1{
  animation: type 10s steps(32) infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #ffffff;
  width: 32ch;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-10%, -10%);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  font-size: 60px;
  color: white;
}

@keyframes type{
  0%{
    width: 0ch;
  }
  50%{
    width: 32ch;
  }
  100%{
    width: 0;
  }
}

/* h1{
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-10%, -10%);
  text-transform: uppercase;
  color:transparent;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  font-size: 60px;
}
h1:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  border-right: 1px solid black;
  animation: type 10s linear steps(30) infinite;
  white-space: nowrap;
}

@keyframes type{
  0%{
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 0;
  }
} */

input[type="file"] {
  display: none;
}
.custom-file-upload {
  /* border: 1px solid #ccc;
  display: inline-block;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer; */
  margin: 10%;
  text-align: center;
  padding: 14px 12px;
  font-size: 18px;

}

.card{
  width: 400px;
  height: 420px;
  padding-top: 0px;
  box-shadow: 0 10px 20px 0 rgba(65, 132, 234, 0.75)
}
.card1{
  width: 400px;
  height: 300px;

}
.card2{
  width: 600px;
  height: 600px;
  box-shadow: 0 10px 20px 0 rgba(65, 132, 234, 0.75)
}

.new{
  margin-top: 50px;

}
.text{
  width:450px;
  height: 250px;
  border: 2px solid grey;
}

.shift{
  margin-left: 120px;
}
.shift2{
  margin-left: 100px;
}
.container{
  padding-top: 100px;
}


.box1{
  height: 200px;
  width: 500px;
  padding-top: 10px;
  font-size: 20px;
}

